*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table, th, td {
  border:1px solid black;
}

body{
    margin: 4rem 4rem;
    min-height: 100vh;
    background: rgb(255,254,254);
    background: radial-gradient(circle, rgba(255,254,254,1) 0%, rgba(255,255,255,1) 43%, rgba(177,195,199,1) 100%);
}

.page-title{
  text-align: center;
}

.flex-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.recipe-box{
  cursor: pointer;
  text-align: center;
  position: relative;
  border-radius: 10px;
  background-color: transparent;
  height: 10rem;
  width: 16rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: white;
}

.recipe-box h2{
  text-align: center;
  z-index: 20;
  position: absolute;
  bottom: 5%;
  left: 5%;
  pointer-events: none;
}

.recipe-box img{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  filter: blur(2px);
  overflow: hidden;
  width: 16rem;
  height: 10rem;
  z-index:10;
  border-radius: 10px;
  transition: .3s;
}

.recipe-box img:hover{
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 17rem;
  height: 11rem;
  filter: blur(0);
}

.add-new-recipe-containter{
  position: relative;
  height: 10rem;
  width: 16rem;
}

.add-new-recipe-box{
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 16rem;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  font-size: 5rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.add-new-recipe-box:hover{
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  height: 11rem;
  width: 17rem;
}

.add-new-recipe-box h2{
  margin: 0;
  color: grey;
  font-size: 5rem;
}
