
.flex-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.recipe-box-flex{
  cursor: pointer;
  text-align: center;
  position: relative;
  border-radius: 10px;
  background-color: transparent;
  height: 10rem;
  width: 16rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: white;
}

.recipe-box-flex h2{
  text-align: center;
  z-index: 20;
  position: absolute;
  bottom: 5%;
  left: 5%;
  pointer-events: none;
}

.recipe-box-flex img{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  filter: blur(2px);
  overflow: hidden;
  width: 16rem;
  height: 10rem;
  z-index:10;
  border-radius: 10px;
  transition: .3s;
}

.recipe-box-flex img:hover{
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 17rem;
  height: 11rem;
  filter: blur(0);
}

.add-new-recipe-containter-flex {
  position: relative;
  height: 10rem;
  width: 16rem;
}

.add-new-recipe-box-flex {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 16rem;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  font-size: 5rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.add-new-recipe-box-flex:hover{
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  height: 11rem;
  width: 17rem;
}

.add-new-recipe-box-flex h2{
  margin: 0;
  color: grey;
  font-size: 5rem;
}
